h1 {
  margin-top: 2%;
  text-align:center;
  color:white;
  spacing:10;
}

h2{
  margin-top: 7%;
color:white;
text-align:center;
font-size: 16px;
}

body{
  background:url("A.jpeg");
  font-family: "Helvetica", cursive, sans-serif;
  text-align:center;
}

#search {
font-size: 1em;
  text-align:center;
  width:100%;
margin-top: 10%;
color: white;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: #4D4D4D;
}

.ingreds{
  display: none;
}

.recipeName{
  font-weight: bold;
  font-size: 40px;
}

.recipe{
  margin-bottom: 10px;
  background: #D13C3C;
 min-height: 50px;
 padding: 10px;
}

.recipes{
  list-style: none;

}

button{


}

.error{
  color:#F5F5F5;
  background: rgba(255,0,0, 0.5);
  display: none;
  width: 300px;
  text-align: center;
}

.health_selection{
  margin: 10px 0px;
  color: white;
}

.calories, .servings{
  float: right;
  background: rgba(255, 255,255, 0.5);
  border-radius: 10px;
  padding: 5px;
}
.recipe{
  color: white;
}
.author {
  font-style: italic;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 70px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:darkred;
  color:white;
  opacity:0.8;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
font-size:+3;}
