
body {
  background: lightblue;
  background-image:url("e.jpg"); no-repeat center center fixed; 
  
  
  font-family:"Future Stn";
  letter-spacing:1px;
}

h1
{
  text-align:center;
  font-family:"verdana";
letter-spacing:20px;
font-size:+20}

h2
{font-family:"verdana"
    letter-spacing: 5px;
  font-size:+15}

  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 70px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:darkred;
    opacity:0.8;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  font-size:+3;}

#wrapper{
    background-image:url('e.jpg');
    display:none;
}
